@import url("https://fonts.cdnfonts.com/css/campton");
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
html,
body {
  height: 100%;
  width: 100%;
}

.layout {
  max-width: 100%;
  height: 100vh;
}

.minor-text {
  color: #1a1a1a;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.mid-text {
  color: #fff;
  font-family: "Campton";
  font-size: 20px;
  font-style: normal;
  font-weight: 625;
  line-height: normal;
}

.major-text {
  color: #000;
  font-family: "Inter";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.great-text {
  color: #000;
  font-family: "Inter";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 98.5px; /* 102.604% */
}

.small-title {
  color: #fff;
  font-family: "Campton";
  font-size: 14px;
  font-style: normal;
  font-weight: 625;
  line-height: normal;
  letter-spacing: 3.36px;
  text-transform: uppercase;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid #dfdfe2;
  background: #fff;
}
nav .navbar {
  display: flex;
  width: 100%;
  height: 88px;
  padding: 15px 48px;
  justify-content: space-between;
  align-items: center;
}
nav__logo {
  width: 120px;
  height: 52.117px;
  flex-shrink: 0;
}
nav__interact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.main-section-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e4e4e8;
}
.main-section-1__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh + 1100px);
  background: linear-gradient(180deg, #fff 8.84%, #e4e4e7 63.4%);
}
.main-section-1__inner .banner {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 148px 43px 408px 42px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.main-section-1__inner .banner__headline1 {
  height: 350px;
  text-align: center;
  font-family: "Inter";
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 160px; /* 88.889% */
  background: url("../img/headline.jpg");
  background-position-y: 50%;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: -150px;
  left: 0px;
}
.main-section-1__inner .banner__headline2 {
  color: #1a1a1a;
  text-align: center;
  font-family: "Inter";
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.5px; /* 86.389% */
  position: absolute;
  left: 0;
  bottom: -800px;
}
.main-section-1__inner .news-and-events-cont {
  position: absolute;
  bottom: -1400px;
}
.main-section-1__inner .news {
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.main-section-1__inner .news__left {
  margin-right: 15px;
  width: 60%;
}
.main-section-1__inner .news__left__card {
  width: 100%;
  height: 496px;
  flex-shrink: 0;
  border-radius: 48px;
  background: url("../img/Frame 15.jpg"), lightgray 50%/cover no-repeat;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.main-section-1__inner .news__right {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.main-section-1__inner .news__right__card {
  width: 100%;
  height: 232px;
  flex-shrink: 0;
  border-radius: 48px;
  background: url("../img/Frame 25.jpg"), lightgray 50%/cover no-repeat;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.main-section-1__inner .news__card-bottom {
  display: flex;
  justify-content: space-between;
}
.main-section-1__inner .news__card-bottom img {
  margin-left: 15px;
}
.main-section-1__inner .news__card-inner {
  padding: 0px 7.5% 3% 7.5%;
}
.main-section-1__inner .news__card-inner h4 {
  margin: 0;
}
.main-section-1__inner .news__card-inner p {
  margin: 0;
}
.main-section-1__inner .events {
  width: 90%;
  padding: 30px 5% 0px 5%;
}
.main-section-1__inner .events__title {
  color: #000;
}
.main-section-1__inner .events__inner-cont {
  display: inline-flex;
}
.main-section-1__inner .events__inner-block .minor-text,
.main-section-1__inner .events__inner-block .mid-text {
  color: #000;
}
.main-section-1__inner .events__divider {
  width: 1px;
  height: 131px;
  opacity: 0.2;
  background: #2e2e2f;
  margin-right: 15px;
}

.main-section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  overflow: hidden;
  position: relative;
}
.main-section-2__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1442px;
  position: relative;
}
.main-section-2__bg {
  z-index: -1;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/v1016-a-01 1.jpg"), lightgray 50%/cover no-repeat;
}
.main-section-2 .about-us {
  width: 80%;
  margin-top: 200px;
}
.main-section-2 .about-us .small-title {
  color: #000;
}/*# sourceMappingURL=main.css.map */